.blue-button {
    display: flex;

    :nth-child(1) {
        padding: 15px 28px;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -5.89155e-05px;
        color: #FFFFFF;
        background: #304FFF;
        border-radius: 23.5px;
        margin-right: 11px;
        outline: none;
        border: none;
    }

    :nth-child(2) {
        padding: 15px 32px;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -5.89155e-05px;
        color: #FFFFFF;
        background: #4E72CA;
        border-radius: 23.5px;
        outline: none;
        border: none;
    }
}