.singlePage-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    box-sizing: border-box;

}
.singlePage-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
   
}