.form-input {
    label {
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
        text-align: center;
        color: #787993;
        

    }
    input {

        margin-top: 10px;
        width: 355px;
        height: 62px;
        outline: none;
        padding: 5px 5px 5px 12px;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 23px;
        // text-align: center;
        color: #C7C7C7;
        background-color: #fff;
        background: #FFFFFF;
        border: 1px solid rgba(151, 151, 151, 0.482592);
        box-sizing: border-box;
        border-radius: 5px;
        margin-bottom: 28px;
        display: flex;
    }
}
.label {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    // text-align: center;
    color: #787993;
}

.form-phone {
    display: flex;
    margin-top: 10px;
    margin-bottom: 40px;
    :nth-child(1) {
        width: 82px;
        height: 62px;
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 23px;
        outline: none;
        background: #FFFFFF;
        border: 1px solid rgba(151, 151, 151, 0.482592);
        box-sizing: border-box;
        border-radius: 5px;           
        padding-left: 10px;
        color: #C7C7C7;
        margin-right: 18px;
    }
    :nth-child(2) {
        width: 255px;
        height: 62px;
        background: #FFFFFF;
        border: 1px solid rgba(151, 151, 151, 0.482592);
        box-sizing: border-box;
        border-radius: 5px;
        padding: 20px 5px 19px 24px;
        outline: none;

    }
}

.form > h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 25.5px;
    line-height: 30px;
    /* identical to box height */
    margin-bottom: 24px;
    // text-align: center;
    text-transform: uppercase;

    color: #000000;
}
.form > p {
    font-size: 12px;
    line-height: 14px;
    color: #304FFF;
    // text-align: center;
    width: 355px;
    margin-bottom: 30px;
    span {
        color: #000;
    }
}
.form {
    max-width: 355px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    
}

.text > span {
   color: #000000; 
   text-align: center;
}
.row {
    display: flex;
}

.button {
    background-color: transparent;
    outline: none;
    border: none;
    margin-right: 18px;
    img {
        padding: 20px 34px;
        background: #FFFFFF;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.279127);
        border-radius: 5px;
        width: 12px;
        height: 22px;
    }
}

.button-two {
   
    outline: none;
    border: none;
    padding: 21px 47px 20px 48px;
    background: #41D481;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;

}
.login {
    display: flex;
    flex-direction: column;
   
    .inputs {
        display: flex;
        align-items: flex-end;
        margin-bottom: 33px;
        :nth-child(1) {
            margin-right: 13px;
        }
        :nth-child(3) {
            margin-left: 13px;
        }
        input {
            outline: none;
            border: none;
            width: 141px;
            border-bottom: 1px solid #979797;
            padding: 5px;
            font-style: normal;
            font-weight: 450;
            font-size: 17px;
            line-height: 21px;
        }
    }
    .text-bottom {
        display: flex;
        flex-direction: column;
        // align-items: center;
        align-items: center;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        // text-align: center;
        text-decoration: none;
        color: #4E72CA;
    }
}


.form-wrapper {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    justify-content: space-around;
}